select, option { 
    width: 7%;
    padding: 2px 8px;
    border-radius: 2px;
}



label
{
width: 15em;
float: left;
text-align: left;
margin-right: 0.5em;
display: block
}

.cellContainer {
    height: 30px;
  }

  form { 
    margin-left:600px; 
    }