.sidenav-container {
  height: 100%;
  background-color:white;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/attendance-cc2a0.appspot.com/o/newimg.jpg?alt=media&token=92806f2c-3a68-4d9c-bc82-7e10bcb1fdca");
   background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;


}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ CSS FOR MINDTREE LOGO^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.tool      
{
   background-color:white; 
   width:200px;
   padding: 0px;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^END OF CSS FOR MINDTREE LOGO^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/





/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^CSS FOR SIDENAV^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.sidenav
{
  background-color:rgb(143, 97, 130);
  width: 200px;
}
 /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^CSS FOR LISTS CONTAINED IN SIDENAV^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.hov
{
  color: white;
}
.hov:hover{
  background-color: white;
  color: black;
}
.hov:focus{
  background-color: white;
  color: black;
} 
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^END OF CSS FOR LISTS CONTAINED IN SIDENAV^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^END OF CSS FOR SIDENAV^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/





/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^CSS FOR TOOLBAR^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.toolbar{
  position: fixed;
  z-index:5;
  background-color:#8F6182;
  color: white;
  /* font-size: 30px; */
  text-align: center;
  }
  /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^END OF CSS FOR TOOLBAR^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */






/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^SPAN CLASS FOR TOOLBAR^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.span
{
 text-align: center;
  width: 80%;
  font-style: bold;
  color: white;
  font-size: 30px;
}

.logout
{
  /* font-size: 20px;
  float: right;
  color: white;
  size:100px;
  padding: 15px 32px;
  margin: 4px 2px; */
  /* transition : transform .2s; */
  background-color: #8F6182;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .2s ease-in-out;
  
}
.hovering
{
  color: white;
}
.hovering:hover
{
cursor: pointer;
background-color:rgb(167, 70, 140);
color: white;
 /* size: 100px; */
 padding: 10px 4px; 
 font-size: 25px;
    /* margin: 4px 2px; */
    transform : scale(1.0);

/* transform: scale(1.5); */
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^END OF SPAN CLASS FOR TOOLBAR^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


