table {
    margin-top: 8px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
 td {
    text-align: center;
    padding: 10px;
    background-color: lightgrey;
    color: black;
  }

  th{
    text-align: center;
    padding: 10px;
    background-color: crimson;
    color: white;
  }


  