.vs
/ITracking.Bussiness/bin/Debug/System.Web.Cors.dll
/AttendenceTracking/UploadXml
/Tracking.DataAccessLayer/obj/Debug/Tracking.DataAccessLayer.TrackingMigration.Track.resources
/Tracking.DataAccessLayer/obj/Debug/Tracking.DataAccessLayer.ApplicationMigration.Login.resources
/Tracking.DataAccessLayer/obj/Debug
/Tracking.DataAccessLayer/Migrations/Configuration.cs
/Tracking.DataAccessLayer/Migrations
/Tracking.DataAccessLayer/Tracking2Migration
/Tracking.DataAccessLayer/TrackingMigration
/Tracking.Entities/obj/Release
/Tracking.DataAccessLayer/obj/Release
/Tracking.Bussiness/obj/Release
/ITracking.Bussiness/obj/Release
/Email.Handler/obj
/AttendenceTracking/obj/Release
/SendEmail.Handler/obj/Release
/ReadXL.Handler/obj/Release
