<form #LoginForm = "ngForm" (ngSubmit) = "onSubmit(UserEmail.value)">
    <mat-toolbar color="primary">
            <mat-toolbar  color="primary">
                    <span class="title-center">Reset Password</span>      
                  </mat-toolbar>
         </mat-toolbar>
         <div *ngIf="resetFailed" class="red-text center error-message">
            <i class="material-icons">error</i>An invalid email was entered
            </div> 
    <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile class='login-element'>
       <div class="login-container">
    
           <div class="login-box-body">
               <mat-grid-list cols="9" rowHeight="75px">
                   <mat-grid-tile [rowspan]="1" class="login-icon">
                       <mat-icon>lock</mat-icon>
                   </mat-grid-tile>
                   <mat-grid-tile [colspan]="7">
                       <mat-form-field class="justifier">
                           <input type = "text" #UserEmail ngModel name="userEmail" matInput placeholder="User Email" required>
                       </mat-form-field>
                   </mat-grid-tile>
               </mat-grid-list>
    
               <button mat-raised-button class="login-button"> 
                   <mat-icon>input</mat-icon> Email New Password
               </button>
           </div>
           
       </div>
    </mat-grid-tile>
    </mat-grid-list>
    </form>
    <form #ResetForm = "ngForm" (ngSubmit) = "PasswordReset(ResetCode.value)">
            <mat-grid-list cols="1" rowHeight = "200px">
            <mat-grid-tile class='login-element'>
               <div class="login-container"> 
                   <div class="login-box-body">       
                       <mat-grid-list cols="9" rowHeight="75px">
                            <mat-grid-tile [rowspan]="1" class="login-icon">
                                <mat-icon>lock</mat-icon>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="7">
                                    <input type = "text" #ResetCode ngModel name="resetCode" matInput placeholder="Enter Your Reset Code">         
                            </mat-grid-tile>
                        </mat-grid-list>
    
                        <button mat-raised-button class="login-button"> 
                                <mat-icon>input</mat-icon> Reset Code
                            </button>
                   </div>               
               </div>
            </mat-grid-tile>
            </mat-grid-list>
            </form>