table {
    border-collapse: collapse;
    width: 40%;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
}

.positive {
    background-color: green;
}

.negative {
    background-color: red;
}
