table {
  margin-left:5px;
  border-collapse: collapse;
  width: 98.5%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

.align{
  margin-left:5px;
}
.ralign{
  margin-left:935px;
}
.button {
  background-color: darkgrey;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2mm;
}
.button5:hover {
  background-color: #555555;
  color: rgb(255, 255, 255);
}
select{
  height: 28px;
  width: 120px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 2mm;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border:1px solid #ecf0f1;
  background:#ecf0f1;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}